In [ ]:
pip install pandera

Collecting pandera
  Downloading pandera-0.7.2-py3-none-any.whl (166 kB)
     |████████████████████████████████| 166 kB 8.3 MB/s
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.12.1)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (3.0.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.7.4.3)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.7.2 typing-inspect-0.7.1

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/dados/ocorrencia_2010_2020 - ocorrencia_2010_2020.csv", sep=";", parse_dates = ["ocorrencia_dia"], dayfirst = True) #parse_dates transforma uma coluna em tipo data
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [ ]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [ ]:
df.ocorrencia_dia.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
5747    12
5748    12
5749    12
5750    12
5751    12
Name: ocorrencia_dia, Length: 5752, dtype: int64

In [ ]:
df.tail(3)

      codigo_ocorrencia  ...  total_recomendacoes
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[3 rows x 9 columns]

In [ ]:
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [ ]:
df.loc[5:25]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
5               39807               39807  ...        17:53:00                   0
6               40215               40215  ...        18:40:00                   0
7               39707               39707  ...        12:30:00                   3
8               39156               39156  ...        23:15:00                   2
9               39711               39711  ...        20:00:00                   0
10              39789               39789  ...        21:30:00                   0
11              40069               40069  ...        14:50:00                   8
12              40414               40414  ...        03:00:00                   0
13              39507               39507  ...        17:00:00                   2
14              40107               40107  ...        14:30:00                   0
15              39315               39315  ...        21:22:00                   0
16              39809               39809  ...        15:00:00                   0
17              39810               39810  ...        18:23:00                   0
18              39828               39828  ...        17:45:00                   0
19              44575               44575  ...        12:27:00                   0
20              40310               40310  ...        19:32:00                   0
21              39320               39320  ...        18:30:00                   4
22              39851               39851  ...        03:00:00                   0
23              40311               40311  ...        13:20:00                   0
24              41577               41577  ...        12:16:00                   0
25              39772               39772  ...        18:58:00                   0

[21 rows x 9 columns]

In [ ]:
df.loc[[5, 15, 35]]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
5               39807               39807  ...        17:53:00                   0
15              39315               39315  ...        21:22:00                   0
35              39487               39487  ...        16:50:00                   0

[3 rows x 9 columns]

In [ ]:
df.loc[:, 'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [ ]:
df.loc[::-1]

      codigo_ocorrencia  ...  total_recomendacoes
5751              79844  ...                    0
5750              79756  ...                    0
5749              79802  ...                    0
5748              79757  ...                    0
5747              79804  ...                    0
...                 ...  ...                  ...
4                 40324  ...                    0
3                 39527  ...                    0
2                 40351  ...                    0
1                 40349  ...                    0
0                 40211  ...                    0

[5752 rows x 9 columns]

In [ ]:
#Verificar se na coluna tem dados repitidos
df.ocorrencia_classificacao.is_unique

False

In [ ]:
#Transformando coluna em rótulo
df.set_index('codigo_ocorrencia', inplace = True) #inplace = True valida o que será setado

In [ ]:
df.head()

                   codigo_ocorrencia2  ... total_recomendacoes
codigo_ocorrencia                      ...
40211                           40211  ...                   0
40349                           40349  ...                   0
40351                           40351  ...                   0
39527                           39527  ...                   0
40324                           40324  ...                   0

[5 rows x 8 columns]

In [ ]:
df.reset_index(drop = True, inplace = True)

In [ ]:
df

      codigo_ocorrencia2  ... total_recomendacoes
0                  40211  ...                   0
1                  40349  ...                   0
2                  40351  ...                   0
3                  39527  ...                   0
4                  40324  ...                   0
...                  ...  ...                 ...
5747               79804  ...                   0
5748               79757  ...                   0
5749               79802  ...                   0
5750               79756  ...                   0
5751               79844  ...                   0

[5752 rows x 8 columns]

In [ ]:
df['backup'] = df.ocorrencia_aerodromo

In [ ]:
#Localiza e modifica
df.loc[df.ocorrencia_uf == "MT", ['ocorrencia_classificacao']] = 'PAULO'

In [ ]:
#Localização com referência
df.loc[df.ocorrencia_uf == "MT"]

      codigo_ocorrencia2  ... backup_aerodromo
3                  39527  ...             ****
13                 39507  ...             ****
28                 39321  ...             ****
53                 39405  ...             ****
69                 39727  ...             SBCY
...                  ...  ...              ...
5679               79678  ...             ****
5687               79689  ...            *****
5699               79697  ...             ****
5711               79717  ...             ****
5741               79754  ...             ****

[292 rows x 9 columns]

In [ ]:
df.head()

   codigo_ocorrencia2  ... backup_aerodromo
0               40211  ...             ****
1               40349  ...             SBBE
2               40351  ...             SBRJ
3               39527  ...             ****
4               40324  ...             SBPK

[5 rows x 9 columns]

In [ ]:
df.drop(['backup'], axis = 1, inplace = True)

In [ ]:
df.head()

   codigo_ocorrencia2  ... total_recomendacoes
0               40211  ...                   0
1               40349  ...                   0
2               40351  ...                   0
3               39527  ...                   0
4               40324  ...                   0

[5 rows x 8 columns]

In [ ]:
#Adicionando uma coluna nova de backup
df['backup_aerodromo'] = df.ocorrencia_aerodromo

In [ ]:
df.head()

   codigo_ocorrencia2  ... backup_aerodromo
0               40211  ...             ****
1               40349  ...             SBBE
2               40351  ...             SBRJ
3               39527  ...             ****
4               40324  ...             SBPK

[5 rows x 9 columns]

In [ ]:
df.loc[0, 'ocorrencia_aerodromo'] = 'VITOR'

In [ ]:
#Pesquisa que tem as caracteristicas informadas e muda para <NA>
df.replace(['****', '*****', '####'], pd.NA, inplace = True)

In [ ]:
df.head()

   codigo_ocorrencia2  ... backup_aerodromo
0               40211  ...             <NA>
1               40349  ...             SBBE
2               40351  ...             SBRJ
3               39527  ...             <NA>
4               40324  ...             SBPK

[5 rows x 9 columns]

In [ ]:
#Conta quantos NA's tem
df.isna().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2344
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
backup_aerodromo            2344
dtype: int64

In [ ]:
# Renomeando o nome da coluna
df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace = True)